<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/billetalaska.css') }}" rel="stylesheet">
    <title>Billet simple pour l'Alaska - {% block title %}{% endblock %}</title>
</head>
<body>
	<div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">Billet simple pour l'Alaska</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                    <ul class="nav nav-inverse navbar-nav navbar-right">
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="{% if adminMenu is defined %}active{% endif %}">
                                <a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a>
                            </li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Utilisateur anonyme <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('login') }}">Connexion</a></li>
                                    <li><a href="{{ path('register') }}">Inscription</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div><!-- /.container -->
        </nav>
	</div>
	
	<div class="container">
		{% block content %}{% endblock %}
	</div>

	<footer class="container">
		<div class="row">
			<p><a href="{{ path('home') }}">Billet simple pour l'Alaska</a> : une application développée par Nicolas GINDRE pour Openclassrooms.</p>
			<p>Compétences utilisées : PHP (POO), Silex, Twig, Bootstrap</p>
		</div>
	</footer>

    <!-- jQuery -->
    <script src="{{ asset('/lib/jquery/jquery.min.js') }}"></script>
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ asset('/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- TintMCE -->
    <script src="{{ asset('/lib/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('/lib/tinymce/tinymce.min.js') }}"></script>
    <script>
        tinymce.init({ 
            selector : "textarea.editable",
            entity_encoding : "raw",
            valid_elements : '*[*]',
            setup: function (editor) {
                editor.on('change', function (e) {
                    editor.save();
                });
            }
        });
    </script>

    <script type="text/javascript">
        // JQuery Ticket pagination module
        // Var initialisation
        var listElement = $('#pagination'),
            perPage = 5,
            numItems = listElement.children().length,
            numPages = Math.ceil(numItems/perPage);

        // Count the number of pages needed to show every Ticket, only if there is more than 5 tickets in db
        if (numItems > 5)
        {
            $('.pagination').data("curr", 0);

            var curr = 0;
            while(numPages > curr)
            {
                $('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo('.pagination');
                curr++;
            }
        }

        // Pager functionality
        $('.pagination .page_link:first').addClass('active');

        listElement.children().css('display', 'none');
        listElement.children().slice(0, perPage).css('display', 'block');

        $('.pagination li a').click(function() {
            var clickedPage = $(this).html().valueOf() - 1;
            goTo(clickedPage, perPage);
        });


        // function previous()
        // {
        //     var goToPage = parseInt($('.pagination').data("curr")) - 1;
        //     if($('.active').prev('.page_link').length == true)
        //     {
        //         goTo(goToPage);
        //     }
        // }

        // function next()
        // {
        //     goToPage = parseInt($('.pager').data("curr")) + 1;
        //     if($('.active_page').next('.page_link').length == true)
        //     {
        //         goTo(goToPage);
        //     }
        // }

        function goTo(page)
        {
            var startAt = page * perPage,
            endOn = startAt + perPage;

            listElement.children().css('display','none').slice(startAt, endOn).css('display','block');
            $('.pager').attr("curr",page);
        }
    </script>
</body>
</html>