{% extends "layout.html.twig" %}

{% block title %}{{ ticket.title }}{% endblock %}

{% block content %}
    <div class="row">
    	<article>
    		<h2>{{ ticket.title }}</h2>
    		<p>{{ ticket.content|nl2br }}</p>
    		<p class="align-right italic"><span class="bold">Mis en ligne le :</span> {{ ticket.dateCreation }}</p>
    	</article>
    </div>

    <div class="row">
        <div class="well">
        {% for comment in comments %}
            <legend><strong>{{ comment.author.username }}</strong> a dit : <span class="pull-right">{{ comment.dateCreation }}</legend>
            <p class="comment-content">
                {{ comment.content }}<br>
                <a href="" class="pull-right">Signaler un abus</a>
            </p>
        {% else %}
            <p class="no-comment">Aucun commentaire n'est disponible pour le moment.</p>
        {% endfor %}

        <h3>Ajouter un commentaire</h3>
        {% if commentForm %}
            {{ form_start(commentForm) }}
                <div class="form-group">
                    {{ form_errors(commentForm.content) }}
                    {{ form_widget(commentForm.content, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Saisissez votre commentaire'
                    }}) }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Publier le commentaire" />
                </div>
            {{ form_end(commentForm) }}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% else %}
            <a href="{{ path('login') }} ">Se connecter</a> pour ajouter un commentaire.
        {% endif %}
        </div>
    </div>
{% endblock %}