{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<h2 class="text-center">{{ block('title') }}</h2>
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">
		    {{ flashMessage }}
		</div>
	{% endfor %}

	<div class="well">
		{{ form_start(ticketForm, { 'attr': {'class': 'form-horizontal'} }) }}
		    <div class="form-group">
		        {{ form_label(ticketForm.title, 'Titre du billet', { 'label_attr':  {
		            'class': 'col-sm-3 control-label'
		        }}) }}
		        <div class="col-sm-7">
		            {{ form_errors(ticketForm.title) }}
		            {{ form_widget(ticketForm.title, { 'attr':  {
		                'class': 'form-control'
		            }}) }}
		        </div>
		    </div>
		    <div class="form-group">
		        {{ form_label(ticketForm.content, 'Contenu', { 'label_attr':  {
		            'class': 'col-sm-3 control-label'
		        }}) }}
		        <div class="col-sm-7">
		            {{ form_errors(ticketForm.content) }}
		            {{ form_widget(ticketForm.content, { 'attr':  {
		                'class': 'form-control editable',
		                'rows': '8'
		            }}) }}
		        </div>
		    </div>
		    <div class="form-group">
		        <div class="col-sm-offset-3 col-sm-3">
		            <input type="submit" class="btn btn-primary" value="Enregistrer ce billet" />
		        </div>
		    </div>
		{{ form_end(ticketForm) }}
	</div>
{% endblock %}